@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply rounded bg-slate-700 p-1 text-slate-50 ring-0 focus-visible:outline-none;
}

@layer utilities {
  .arrowUp::before {
    @apply absolute -top-[8px] right-[13px] h-[8px] w-[16px] bg-slate-600;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    content: " ";
  }
  .arrowUp::after {
    @apply absolute -top-[7px] right-[14px] h-[7px] w-[14px] bg-slate-800;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    content: " ";
  }

  .arrowDown::before {
    @apply absolute -bottom-[8px] right-[13px] h-[8px] w-[16px] bg-slate-600;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    content: " ";
  }
  .arrowDown::after {
    @apply absolute -bottom-[7px] right-[14px] h-[7px] w-[14px] bg-slate-800;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    content: " ";
  }
}
